.Title {
  font-family: "Pavanam", "Red Hat Text", sans-serif;
  font-size: 3rem;
}

.Container {
  background-color: #f7eedf;
  border: #868735;
  color: black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Headline {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #f7eedf;
  color: black;
  border: #f7eedf;
  border-radius: 5px;
  width: 50%;
  margin: auto;
}

h4 {
  color: black;
}

.Panels {
  padding-bottom: 15px;
}